*{
    box-sizing: border-box;
}
body{
    width: 1024px;
    height: 512px;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
}
header,
nav,
.main,
aside,
footer{
    background-color:wheat;
    color: brown;
    border: 2px solid blue;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header,
nav,
footer{
    width: 1024px;
}
header{
    height: 88px;
}
nav{
    height: 48px;
}
.main,
aside{
    height: 340px;
}
.main{
    width: 800px;
}
aside{
    width: 220px;
}
.nav{

}
.img2{
    
}