*{
box-sizing: border-box;
}
body{
    background-color: aquamarine;
    width: 1024px;
    height: 512px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
}
header,nav,main,aside,footer{
    background-color: bisque;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

header,nav,footer{
    width: 1024;
}
main,aside{
    height: 340px;
}
header{
    height: 88px;
}
nav{
    height: 48px;
}
main{
width: 800px;
}
 aside{
    width: 220px;
 }
 footer{
    height: 32px;
 }
 .img{
    height: 50px;
    width: 50px;
 }
 .img2{
    height: 100px;
    width: 100px;
 }