
form{
    border: 2px solid blue;
    max-width: 480px;
    width: 70%;
    text-align: center;
    border-radius: 6px;
    margin-left: 15%;

}
label{
    border-radius: 6px;
}

button{
    background-color: blue;
    margin-top: 6px;
    border-radius: 6px;
    color: azure;
    font-size: 18pxpx;
}
p{
    border: 2px solid blue;
    border-radius: 6px;
    max-width: 480px;
    width: 70%;
    text-align: center;
    margin: 10px 40px;
    font-size: 20px;
}
