<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla</title>
</head>
<body style="width: 1024;">
    <table>
        <thead>
            <tr>
                <td>CABECERA</td>
                <td>NAVEGACION</td>
            </tr>
        </thead>
        <tbody>
            <table>
                <tr>
                    <td>CONTENIDO PRINCPAL</td>
                    <td>CONTENIDO SECUNDARIO</td>
                </tr>
            </table>
        </tbody>
    </table>
</body>
</html>